.navbar {
  box-shadow: 1px 3px 20px grey;
}

// .nav-link:hover {
//   // color: $sta-menu-text-active !important;
//   // background-color: #EFE376;
//   // zoom: 1.1;
// }

* {
  box-sizing: border-box;
}

/* container */
.kontainer {
  margin: 0 auto;
  border-radius: 3px;
  padding: 12px;
}

.flex {
  display: flex;
}

/* Float columns side by side */
.kolom {
  flex: 1;
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.baris {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.baris:after {
  // content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 768px) {
  .article-container {
    width: 100%;
  }
  .kolom {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
  .cols {
    width: 50%;
  }
}

/* Style the counter cards */

.card {
  height: 100%;
}

.card .card-header {
  background-color: #CA4B6F;
  // opacity: 0.75;
  margin-top: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 0.75rem;
}

.card-text:last-child {
  margin-bottom: 0;
  padding: 0;
  // text-align: center;
}

.kartu {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  height: fit-content;
  word-wrap: break-word;
}

#navbar-main .main-menu-item {
  text-align: left !important;
  padding-left: 0;
  font-size: 18px;
}

.how-img 
{
  text-align: center;
}
.how-img img{
  width: 40%;
}

/*********************************
* Kotak transparan pada hero page
*********************************/
.kotak_transparan {
  margin: auto;
  display: flex;
  border-radius: 16px;
  padding: 15px 20px;
  background: linear-gradient(230deg, rgba(255,255,255,0.08) 0%, rgba(248,248,248,0) 100%);
  border: 1px solid rgba(255,255,255,0.06);
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
  margin-bottom: 0;
  margin-top: 1.5rem;
  font-size: 1.1rem;
  line-height: 34px;
  color: #EFE376;
  // color: #fff;
  // font-weight: 600;
  font-weight: 500;
  // width: auto;
  justify-content: center;
  // margin-left: 10px;
}

/********************************
* Buat tombol baru
********************************/
.tombol {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.tombol3 {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

.tombol3:hover {
  background-color: #f44336;
  color: white;
}

.dropdown-menu,
nav#navbar-main li.nav-item {
  // font-size: 0.8rem;
  font-size: 16px;
  // font-weight: bold;
}

h5 {
  font-size: 0.9rem;
}

h6 {
  font-size: 0.8rem;
}

@import "martel";
@import "assistant";