.navbar {
  box-shadow: 1px 3px 20px grey;
  font-size: 0.85rem;
 }

* {
  box-sizing: border-box;
}

img {
  border-radius: 15px;
}

/* container */
.kontainer {
  margin: 0 auto;
  border-radius: 3px;
  padding: 12px;
}

.flex {
  display: flex;
}

/* Float columns side by side */
.kolom {
  flex: 1;
  float: left;
  width: 20%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.baris {
  margin: 0 -5px;
}

/* Clear floats after the columns */
.baris:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 768px) {
  .article-container {
    width: 100%;
  }
  .kolom {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
  .cols {
    width: 50%;
  }
}

/* Style the counter cards */
.kartu {
  flex: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 15px;
  text-align: center;
  background-color: #f1f1f1;
  margin-bottom: 1em;
  height: fit-content;
}

#navbar-main .main-menu-item {
  text-align: left !important;
  padding-left: 0;
  font-size: 18px;
}

// .wg-blank {
//   margin-top: 5rem;
// }

@import "martel";
@import "assistant";